        body {
            margin: 20;
            padding: 35;
        }

        header {
            margin-top: 3rem;
            padding-bottom: 1rem;
            text-align: center;
        }

        h1 {
            size: 10rem;
            color: darkblue;
        }

        h2 {
            size: 4rem;
        }
        nav {
            display: flex;
            justify-content: center;
            gap: 1rem;
            padding: 1rem;
        }

        button {
            border-radius: 10px;
            border-color: brown;
            padding: 1rem;
        }
